<section class="job-bg page job-details-page">
  <div class="container">
    <div class="breadcrumb-section">
      <ol class="breadcrumb">
        <li><%= link_to "Home", root_path %></li>
      </ol><!-- breadcrumb -->
    </div><!-- breadcrumb -->

    <div class="job-details">
      <div class="section job-ad-item">
        <div class="item-info">

          <div class="ad-info">
            <span><span><a href="#" class="title"><%= @restaurant.name %></a></span></span>
            <div class="ad-meta">
              <ul>
                <li><i class="fa fa-map-marker" aria-hidden="true"></i><%= @restaurant.city %> / <%= @restaurant.state %> / <%= @restaurant.zipcode %></li>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i><%= @restaurant.address1 %></li>
                <li><i class="fa fa-clock-o" aria-hidden="true"></i><%= @restaurant.category.name %></li>
                <li><i class="fa fa-money" aria-hidden="true"></i>$<%= @restaurant.phone %></li>
                <li><i class="fa fa-bookmark-o" aria-hidden="true"></i><%= @restaurant.email %></li>
                <li><i class="fa fa-calendar" aria-hidden="true"></i>Hace <%= time_ago_in_words(@restaurant.created_at) %></li>
              </ul>
              <% if current_user.try(:admin?) %>
                <%= link_to "Edit", edit_restaurant_path, class: 'btn btn-info' %>
                <%= link_to "Destroy", restaurant_path, method: :delete, data: {confirm: "Are youre sure?"}, class: 'btn btn-warning' %>
              <% end %>
            </div><!-- ad-meta -->
          </div><!-- ad-info -->
        </div><!-- item-info -->
      </div><!-- job-ad-item -->

      <div class="job-details-info">
        <div class="row">
          <div class="col-sm-8">
            <div class="section job-description">
              <div class="description-info">
                <h1>Descripción</h1>
                <p><span><%= @restaurant.description %></p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d21646.37927825458!2d<%= @restaurant.longitude %>!3d<%= @restaurant.latitude %>!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1489592288874" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                <p><span class="star-rating" data-score=<%= @avg_rating %>></span></p>
                <%= link_to "Write a Review", new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="section job-description">
              <div class="description-info">
                <h1>Reviews</h1>
                <% if @reviews.blank? %>
                  <p><span>No reviews</span></p>
                <% else %>
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="col-md-3"></th>
                        <th class="col-md-9"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @reviews.each do |review| %>
                      <tr>
                        <td>
                          <h5><%= "#{review.user.first_name} #{review.user.last_name}" %></h5>
                        </td>
                        <td>
                          <div class="clearflix star-rating" data-score=<%= review.rating %>></div>
                          <p><span><%= review.comment %></span></p>
                        </td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                <% end %>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="section job-short-info">
              <h1>Información Rapida</h1>
              <ul>
                <li><span class="icon"><i class="fa fa-bolt" aria-hidden="true"></i></span>Posteado: Hace <%= time_ago_in_words(@restaurant.created_at) %></li>
                <li><span class="icon"><i class="fa fa-user-plus" aria-hidden="true"></i></span> Empleador: Lance Ladaga</li>
                <li><span class="icon"><i class="fa fa-industry" aria-hidden="true"></i></span>Industria: <%= @restaurant.name %></li>
                <li><span class="icon"><i class="fa fa-line-chart" aria-hidden="true"></i></span>Experiencia: No Requerida</li>
              </ul>
            </div>
            <div class="section company-info">
              <h1>Información de Empresa</h1>
              <ul>
                <li>Nombre: <a href="#">Dropbox Inc</a></li>
                <li>Dirección: London, United Kingdom</li>
                <li>Industria: <a href="#">Technology</a></li>
                <li>Teléfono: +1234 567 8910</li>
                <li>Email: <a href="#">info@dropbox.com</a></li>
                <li>Website: <a href="#">www.dropbox.com</a></li>
              </ul>
            </div>
          </div>
        </div><!-- row -->
      </div><!-- job-details-info -->
    </div><!-- job-details -->
  </div><!-- container -->
</section><!-- job-details-page -->
